@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scrollbar-gutter: stable;
}

html.dark {
  color-scheme: dark;
}

html.light,
html.pink {
  color-scheme: light;
}